.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Big data / artifacts should not be sent to build context
data/
metrics/
infra/minio_data/

# DVC and local tooling caches
.dvc/cache/
.dvc/tmp/
